<div class='artist-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 Local Artists in Austin
    </h2>
  </div>
  {{#each Artist as |Artists|}}
    <div class='artist col-md-5'>
      <p>
        {{artists.id}}.
        {{artists.band_name}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        Where can you find them?
        {{artists.artist_site}}
      </p>
    </div>
  {{/each}}
  <div class='add-dish-container'>
    <h2>
      RSVP with the dish you plan to bring!
    </h2>
    <form class='new-dish-form'>
      <label for='dish_name'>
        Dish Name:
      </label>
      <br />
      <textarea id='dish_name' name='dish_name' rows='2' cols='30'>
        {{band_name}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='guest_name'>
        Guest Name:
      </label>
      <br />
      <textarea id='guest_name' name='guest_name' rows='2' cols='30'>
        {{band_name}}
      </textarea>
      <br />
      <br />
      <input type='checkbox' id='has_nuts' name='has_nuts' value='true' />
      <label for='has_nuts'>
        Check box if this dish contains nuts
      </label>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>