{{>navigation}}

<div class="artist-container">
   <h2 class="text-left">{{artist.band_name}}</h2>

   <div class="row text-center">
        <div class="col-xl-6" id="artist-img">
              <img src="/images/{{artist.img_filename}}" class="thumbnail" style="max-width: 100%">
        </div>

        <div class="col-xl-6" id="artist-info">
          <p class="artist-desc">{{artist.description}}</p>
          <br/>
          <a class="btn btn-primary" href="{{artist.artist_site}}" role="button"> Artist Site</a>
          <br/>
          <a class="btn btn-primary" href="{{artist.spotify}}" role="button">Check them out on Spotify!</a>
          <br/>
          <input type='checkbox' value='true'/>
          <button type='submit' value='Submit'>
          Save Artist.
          </button>

        </div>
  </div>
  </div>

