{{>navigation}}
<link rel="stylesheet" href="/css/genre.css" type="text/css">

<div class='artist-container'>
  <div class='card-header row'>
    <h2 "text-left">
      Indie

    </h2>
  </div>

  {{#each artists as |artist|}}
  <div class='photoblock col-md-2'>

    <a href="/artist/{{artist.id}}"> <img src="./images/{{artist.img_filename}}" class="img-thumbnail" alt="{{artist.band_name}} image"></a>
    <p class="text-left">{{artist.band_name}}</p> 
  </div>
  
  {{/each}}
</div>

<div class='artist-container'>
  <div class='card-header row'>
    <h2 "text-left">
      Country
    </h2>
  </div>



  {{#each artists as |artist|}}
  <div class='photoblock col-md-2'>

    <a href="/artist/{{artist.id}}"> <img src="./images/{{artist.img_filename}}" class="img-thumbnail" alt="{{artist.band_name}} image"></a>
    <p class="text-left">{{artist.band_name}}</p>
  </div>

  {{/each}}
</div>


<div class='artist-container'>
  <div class='card-header row'>
    <h2 "text-left">
      Rock
    </h2>
  </div>

  {{#each artists as |artist|}}
  <div class='photoblock col-md-2'>

    <a href="/artist/{{artist.id}}"> <img src="./images/{{artist.img_filename}}" class="img-thumbnail" alt="{{artist.band_name}} image"> </a>
    <p class="text-left">{{artist.band_name}}</p>
  </div>

   {{/each}}
</div>

<div class='artist-container'>
  <div class='card-header row'>
    <h2 "text-left">
      Pop
    </h2>

  </div>

  {{#each artists as |artist|}}
  <div class='photoblock col-md-2'>
    <a href="/artist/{{artist.id}}"> <img src="./images/{{artist.img_filename}}" class="img-thumbnail" alt="{{artist.band_name}} image"></a>
    <p class="text-left">{{artist.band_name}}</p>
  </div>

  {{/each}}

</div>